.dotsBackground {
  background-color: rgb(236, 234, 234);
  background-image: radial-gradient(#d3d3d3 1px, transparent 1px);
  background-size: 20px 20px;
  position: relative;
  overflow: hidden;
}

.dotsBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(#d3d3d3 1px, transparent 1px);
  background-size: 20px 20px;
  animation: moveDots 10s linear infinite;
  opacity: 0.5;
}

@keyframes moveDots {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}